## General
.DS_Store
Thumbs.db
*.log
logs/
tmp/
temp/

## Env files
.env
.env.*
!.env.example

## Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

## Java/IDE
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.swp
*.swo

## IntelliJ IDEA
.idea/
out/

## Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

## NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

## VS Code
.vscode/
